{{template "header"}}

{{template "graph"}}

{{template "footer"}}

{{template "script"}}
<script>
    x = [];
    {{range .data}}
    x = [...x, {{.CreatedAt}}]
    {{end}}

    y = [];
    {{range .data}}
    y = [...y, {{.Humidity}}]
    {{end}}

    drawPlot(x, y, "Humidity", "Humidity [RH]")
</script>
{{template "end"}}