{{template "header"}}

{{template "graph"}}

{{template "footer"}}

{{template "script"}}
<script>
    x = [];
    {{range .data}}
    x = [...x, {{.CreatedAt}}]
    {{end}}

    y = [];
    {{range .data}}
    y = [...y, {{.Temperature}}]
    {{end}}

    drawPlot(x, y, "Temperature", "Temperature [°C]")
</script>
{{template "end"}}